body{
  padding:0px;
  margin:0px;

}

ul{
  display: flex;
  flex-direction: row;
  float: right;
}
li{
  padding: 10px;
  list-style-type: none;
  color:white;
  text-decoration: none;
}
a{
  color:white;
  text-decoration: none;
}
.header-top{
  background-color: rgb(170, 55, 55);
  height: 50px;
  width: 100%;
}